@tailwind base;
@tailwind components;
@tailwind utilities;


.fontTesting {
  font-family: var(--font-lato);
}
.fontTesting2{
  font-family: var(--font-inter);
}
.fontTesting3 {
  font-family: var(--font-slacksideOne);
}
* {
  font-family: var(--font-inter);
}

.main {
  height: 100vh;
}

.zoom-in-out-box {

  animation: fade-in-right 0.5s ease;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100px); /* Empieza 50px a la izquierda */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Termina en su posición original */
  }
}
.sexossss{
  overflow: hidden;
}
.admProd {
  background-color: aliceblue;
  max-height: 30rem;
  min-height: 30rem;
  min-width: 50rem;
  
}

@media (max-width:1280px) {
  .admProd {
  max-height: 50rem;
  min-height: 50rem;
  min-width: 30rem;
  }
}
.catalogo-container{
  min-height: 100vh;
}

.contenedor-detailed{
  min-height: 100vh;
  width: 100%;
}

.contendor_detailed-img{
  width: 40%;
  height: 46rem;
}

.contendor_detailed-info{
  width: 60%;
  height: 46rem;
}

@media (max-width:1280px) {
  .contendor_detailed-img{
    width: 40%;
    height: 46rem;
  }
  .detailed-img_img{
    width: 500px;
    min-width: 500px;
    height: 700px;
  }
  .contendor_detailed-info{
    width: 60%;
    height: 55rem;
  }
}

@media (max-width:767px){
  .contendor_detailed-info{
    width: 60%;
    height: 70rem;
  }
}

.detailed-img_img{
  width: 500px;
  height: 700px;
}


.imageProd {
  width: 400px;
  height: 500px;
}
nav {
  border-bottom: 0.5px solid #2c2c2c;
}

footer {
  border-top: 0.5px solid #2c2c2c;
}

.logoImg {
  min-width: 70px;
  max-height: 100px;
  
}